GDShop/Service References/GDWebservice/GDWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gdshop.com/" elementFormDefault="qualified" targetNamespace="http://gdshop.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:22778/GDWebService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GDWebService" />
  <xs:element name="getListProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListProductResult" nillable="true" type="q1:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getProductResult" nillable="true" type="q2:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListBrand">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListBrandResult" nillable="true" type="q3:ArrayOfBrand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBrandByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBrandByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getBrandByIDResult" nillable="true" type="q4:Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTypeByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTypeByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getTypeByIDResult" nillable="true" type="q5:Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getQByIDResult" nillable="true" type="q6:Quality" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListQ">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListQResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListQResult" nillable="true" type="q7:ArrayOfQuality" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListTResult" nillable="true" type="q8:ArrayOfType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListL1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListL1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListL1Result" nillable="true" type="q9:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListSPTheoLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenloai" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListSPTheoLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListSPTheoLoaiResult" nillable="true" type="q10:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListSPTheoType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenloai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListSPTheoTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListSPTheoTypeResult" nillable="true" type="q11:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListSPTheoBrand">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tenloai" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListSPTheoBrandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListSPTheoBrandResult" nillable="true" type="q12:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="countTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="countTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchSizeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="kh" nillable="true" type="q13:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCustomerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkTaiKhoan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taikhoan" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkTaiKhoanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="checkTaiKhoanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDangNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taikhoan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matkhau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="checkDangNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="checkDangNhapResult" nillable="true" type="q14:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertDonDatHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="ddh" nillable="true" type="q15:DonDatHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertDonDatHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertDonDatHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonDatHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idkh" type="xs:int" />
        <xs:element minOccurs="0" name="ngay" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDonDatHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getDonDatHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCTDonDatHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="ctddh" nillable="true" type="q16:CTDonDatHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertCTDonDatHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertCTDonDatHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="kh" nillable="true" type="q17:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateCustomerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListDDHTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idkh" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListDDHTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListDDHTheoIDResult" nillable="true" type="q18:ArrayOfDonDatHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListCTDDHTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idddh" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListCTDDHTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListCTDDHTheoIDResult" nillable="true" type="q19:ArrayOfCTDonDatHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timKiemSPTheoTen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ten" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timKiemSPTheoTenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="timKiemSPTheoTenResult" nillable="true" type="q20:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDDHTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDDHTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getDDHTheoIDResult" nillable="true" type="q21:DonDatHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getKHTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getKHTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getKHTheoIDResult" nillable="true" type="q22:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTTHoaDonTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTTHoaDonTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getTTHoaDonTheoIDResult" nillable="true" type="q23:TTHoaDon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timXeChuaIDDDH">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="timXeChuaIDDDHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="timXeChuaIDDDHResult" nillable="true" type="q24:ShipCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNhanVienTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNhanVienTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getNhanVienTheoIDResult" nillable="true" type="q25:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListAllProduct">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListAllProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListAllProductResult" nillable="true" type="q26:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="taikhoan" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="matkhau" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="loginAdminResult" nillable="true" type="q27:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="p" nillable="true" type="q28:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="p" nillable="true" type="q29:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListNhanVien">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListNhanVienResult" nillable="true" type="q30:ArrayOfNhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListNCC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListNCCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListNCCResult" nillable="true" type="q31:ArrayOfNhaCungCap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaNCC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="n" nillable="true" type="q32:NhaCungCap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaNCCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaNCCResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="n" nillable="true" type="q33:Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaLoaiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThuongHieu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="n" nillable="true" type="q34:Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThuongHieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaThuongHieuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaChatLieu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="n" nillable="true" type="q35:Quality" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaChatLieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SuaChatLieuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemNCC">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="n" nillable="true" type="q36:NhaCungCap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemNCCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemNCCResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="n" nillable="true" type="q37:Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemLoaiResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemThuongHieu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="n" nillable="true" type="q38:Brand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemThuongHieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemThuongHieuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemChatLieu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="n" nillable="true" type="q39:Quality" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThemChatLieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThemChatLieuResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListDDH">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListDDHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListDDHResult" nillable="true" type="q40:ArrayOfDonDatHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKhoHang">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="kh" nillable="true" type="q41:KhoHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateKhoHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateKhoHangResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHoaDon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="hd" nillable="true" type="q42:HoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHoaDonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertHoaDonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDDH">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="ddh" nillable="true" type="q43:DonDatHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDDHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateDDHResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListHDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListHDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListHDBResult" nillable="true" type="q44:ArrayOfHoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHDBTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHDBTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getHDBTheoIDResult" nillable="true" type="q45:HoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListShipCar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListShipCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListShipCarResult" nillable="true" type="q46:ArrayOfShipCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCTShipCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="sc" nillable="true" type="q47:CTShipCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCTShipCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCTShipCarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHoaDonBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="hd" nillable="true" type="q48:HoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHoaDonBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHoaDonBanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListCTShipCar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListCTShipCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListCTShipCarResult" nillable="true" type="q49:ArrayOfCTShipCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListHodDonTheoIDNV">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListHodDonTheoIDNVResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListHodDonTheoIDNVResult" nillable="true" type="q50:ArrayOfHoaDonBan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShipCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idnhanvien" type="xs:int" />
        <xs:element minOccurs="0" name="log" type="xs:double" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="location" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShipCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateShipCarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginShipCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tk" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mk" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginShipCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="LoginShipCarResult" nillable="true" type="q51:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListKH">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListKHResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListKHResult" nillable="true" type="q52:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChucVu">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListChucVuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListChucVuResult" nillable="true" type="q53:ArrayOfChucVu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="nv" nillable="true" type="q54:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateNhanVienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertNhanVien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="nv" nillable="true" type="q55:NhanVien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertNhanVienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertNhanVienResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertShipCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="sc" nillable="true" type="q56:ShipCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertShipCarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insertShipCarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateShipCarForWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="sc" nillable="true" type="q57:ShipCar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateShipCarForWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateShipCarForWebResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHoaDonNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="hd" nillable="true" type="q58:HoaDonNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertHoaDonNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertHoaDonNhapResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCTHoaDonNhap">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="ct" nillable="true" type="q59:CTHoaDonNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCTHoaDonNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCTHoaDonNhapResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHDN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ngay" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idnhanvien" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getHDNResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getHDNResult" nillable="true" type="q60:HoaDonNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhapKho">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="kh" nillable="true" type="q61:KhoHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhapKhoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NhapKhoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHoaDonAdnroid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHoaDonAdnroidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateHoaDonAdnroidResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListHoaDonNhap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListHoaDonNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListHoaDonNhapResult" nillable="true" type="q62:ArrayOfHoaDonNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListCTHoaDonNhap">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListCTHoaDonNhapResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListCTHoaDonNhapResult" nillable="true" type="q63:ArrayOfCTHoaDonNhap" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getListKhoHang">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListKhoHangResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/GDWebService" minOccurs="0" name="getListKhoHangResult" nillable="true" type="q64:ArrayOfKhoHang" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>